body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://media.istockphoto.com/id/1001817594/photo/ai-concept.jpg?s=612x612&w=0&k=20&c=K-ydWp3VQnSKfEftRSctVsql5PjysXwBvazp0Fdl3lI=");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(64, 126, 176);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: background 0.5s;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #001c38;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #003060;
    color: #fff;
}

#submitBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px; 
}

#submitBtn:hover {
    background-color: #0056b3;
}

.answerBtn {
    margin: 5px 0; 
}

.nextBtn {
    background-color: #28a745; 
    color: #fff;
    border: none;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
    padding: 10px; 
    margin-top: 20px; 
}

.nextBtn:hover {
    background-color: #218838;
}

.correct {
    background-color: green !important;
    color: white;
}

.incorrect {
    background-color: red !important;
    color: white;
}
